---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Videos from "../components/Videos.astro";
import Shorts from "../components/Shorts.astro";
import Services from "../components/Services.astro";
import News from "../components/News.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="El Rincón de Isma - Comunidad de Laravel">
	<Navbar />
	<main>
		<Hero />
		<Videos />
		<Shorts />
		<Services />
		<News />
	</main>
	<Footer />
</Layout>
```
